@use 'header/header';
@use 'base'; //Cargaría el archivo index que se encuentre en la carpeta base
@use 'header';

// los archivos con _ hacen que sean invisibles para la transpilación puesto que lo cogemos desde el app

$color: blue;
$color2: green;

body {
 background-color: $color;
 font-size:4rem;
 display: flex;
 gap: 2rem;
}
h1{
   color: $color2;
}
div {
 display: grid;
 grid-template-columns: 3rem;
}