// Variables de fuentes
$fuente_principal: "Libre Franklin", serif;
$fuente_secundaria: "Sanchez", serif;


// Variables de Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$prim_rojo: #FF2202;
$prim_azul: #07A5F5;
$prim_amarillo: #F4ED14;
$sec_marron: #7A474C;
$sec_azul: #215975;

$negro: #000;
$blanco: #fff;
$gris: grey;